language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  # - "3.6"

install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - source activate test-environment
  # bioconda setup
  - conda config --add channels defaults
  - conda config --add channels conda-forge
  - conda config --add channels bioconda
  - conda install flake8 scripttest pytest --file requirements.txt

script:
  - flake8 --ignore=E501
  - pylint --py3k eden test
  - pytest eden test --cov eden --ignore test/disabled_tests --ignore bin/motif_display.py --doctest-modules

after_success:
  - test $CONDA_UPLOAD = "yes" && test $TRAVIS_BRANCH = "nightly" && test $TRAVIS_PULL_REQUEST = "false" && conda install conda-build && conda install anaconda-client && bash conda/conda_upload.sh
