cvxopt==1.1.7
cvxpy==0.2.12
dill==0.2.1
esmre==0.3.1
flake8==2.4.1
joblib==0.8.4
matplotlib==1.3.1
mpld3==0.2
networkx==1.9
nose==1.3.7
numpy==1.8.0
openbabel==1.8.1
pandas==0.14.1
pybedtools==0.7.4
pygraphviz==1.2
git+https://github.com/nils-werner/pymf.git@9d3b8d49941b018473de01cb28b97d42b8675857
reportlab==3.2.0
requests==2.7.0
scikit-learn==0.17.0
scikit-neuralnetwork==0.3
scipy==0.14.0
scripttest==1.3
theano==0.7.0
weblogo==3.4
